@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/*
* {
	scrollbar-width: thin;
}
*/

/*
:root {
	scrollbar-color: rgba(155, 155, 155, .5) transparent;
}
*/


@-moz-document url("about:privatebrowsing") {
  /*body {
    background-color: #383c4a !important;
    color: #D3DAE3 !important;
  }
  h1 {
    color: #D3DAE3 !important;
  }
  #startTour {
    color: #fff !important;
  }*/
}

@-moz-document url("about:home"), url("about:newtab") {
  /*body {
    color: #D3DAE3 !important;
  }*/

   /* reduce font-size*/
  .title.pinned {
	font-size: 10px !important;
  }

   /* Disable pinned icon padding */
  .top-site-outer .tile .icon-wrapper {
    width: 80px !important;
    height: 80px !important;
    border-radius: 8px !important;
  }
  
  /* Lighten pin icon */
  .icon.icon-pin-small {
    opacity: 0.5 !important;
  }
  
  /* Hide personalize button */
  .personalize-button {
    display: none !important;
  }
}
