@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.urlbarView {
  z-index: 1000 !important;
}

/* Rimozione margini popup autocomplete*/
.urlbarView:not(.megabar) .urlbarView-results {
  padding-inline: 0 !important;
}

.urlbarView-results {
  padding-block: 0 !important;
}

.urlbarView-row {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-radius: 0 !important;
}

/** Color for URL bar **/
.urlbarView-url,
.urlbarView-action {
  color: gray !important;
}

.urlbarView-row[selected] .urlbarView-title-separator, 
.urlbarView-row[selected] .urlbarView-url,
.urlbarView-row[selected] .urlbarView-action {
  color: #f3f3f3 !important;
}

