@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*CSD*/
/* fix graphic bug while moving tabs */
#TabsToolbar {
  max-height: 33px !important;
}

#TabsToolbar[movingtab] {
  padding-bottom: 0px !important;
}

#TabsToolbar[movingtab] + #nav-bar {
  margin-top: -1px !important;
}

/* fix menu button */
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {
  /*margin-inline-start: 0px !important;*/
  padding-inline-start: 0px !important;
  border-inline-start: unset !important;
  border-image: unset !important;
  border-image-slice: unset !important;
}

#PanelUI-menu-button  {
  background: linear-gradient(var(--menu-button-separator-color), var(--menu-button-separator-color)) no-repeat !important;
  background-size: 1px 33%, 1px 33% !important;
  background-position: 42px !important;

  margin-right: 37px !important;

  padding-inline-start: 0px !important;
  padding-inline-end: 9px !important;
}

#PanelUI-menu-button.toolbarbutton-1 > .toolbarbutton-badge-stack {
  margin-right: 0px !important;
  width: 34px;
  height: 28px;
}

#PanelUI-menu-button.toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  margin-left: 3px;
  margin-right: 3px;
}

/*correct align of titlebar buttons*/
.titlebar-buttonbox-container {
 position: absolute !important;
 top: 0px !important;
 right: 5px !important;
 display: block;
}

.titlebar-buttonbox{
  /*margin-top: 0px !important;
  margin-right: 4px !important;*/
}

.titlebar-min,
.titlebar-max,
.titlebar-close {
/*	margin-top: 9px !important; */
}

/*avoid duplicate image*/
.titlebar-min,
.titlebar-max {
  margin-right: 6px !important;
}
.titlebar-min > image{
  opacity: 0 !important;
}

.titlebar-max > image{
  opacity: 0 !important;
}

.titlebar-close > image {
  opacity: 0 !important;
}

/* if fullscreen button added to toolbar show only in fullscreen mode */
#main-window:not([inFullscreen]) #fullscreen-button {
  display: none !important;
}

#main-window[inFullscreen] #fullscreen-button {
  display: inline !important;
}

#main-window[inFullscreen] #window-controls {
  display: none !important;
}

#main-window[inFullscreen] #nav-bar[context="autohide-context"] #PanelUI-menu-button {
  margin-right: 0px !important;
}
