/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

findbar {
  -moz-appearance: none;
  background-image: linear-gradient(to bottom, rgba(233, 233, 233, 1), rgba(233, 233, 233, 1)) !important;
  border: 1px solid #d8dadf !important;
  border-top: none !important;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
  min-width: 1px !important;
  padding: 4px 8px !important;
  transition-property: margin-bottom, opacity, visibility !important;
  transition-duration: 150ms, 150ms, 0s !important;
  transition-timing-function: ease-in-out, ease-in-out, linear !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.40) !important;
  border-radius: 0 0 2px 2px !important;

  /* Move findbar to top left corner */
  -moz-box-ordinal-group: 0 !important;
  position: fixed !important;
  left: 42px !important;
}

findbar[hidden] {
  /* Override display:none to make the transition work. */
  display: -moz-box !important;
  visibility: collapse !important;
  margin-bottom: -1em !important;
  opacity: 0 !important;
  transition-delay: 0s, 0s, 150ms !important;
}

findbar[noanim] {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

/* Buttons */


findbar toolbarbutton {
  -moz-appearance: none !important;
  background: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  color: ButtonText !important;
  padding: 5px !important;
  transition-property: border, box-shadow, background !important;
  transition-duration: 200ms !important;
}

findbar toolbarbutton:not([disabled="true"]):hover {
  background-image: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,.8)) !important;
  border-color: rgba(166,166,166,.4) !important;
  box-shadow: none !important;
}

findbar toolbarbutton:not([disabled="true"]):not([open="true"]):active:hover,
findbar toolbarbutton[checked="true"],
findbar toolbarbutton[checked="true"]:hover {
  background-image: linear-gradient(to bottom, #5294e2, #5294e2) !important;
  border-color: transparent !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.37) !important;
}

findbar toolbarbutton[open="true"],
findbar toolbarbutton[open="true"]:hover,
findbar toolbarbutton[open="true"]:active,
findbar toolbarbutton[open="true"]:active:hover {
  background: rgba(255,255,255,0.8) !important;
  border-color: rgba(255,255,255,0.8) !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.37) !important;
  border-radius: 3px 3px 0 0 !important;
}

findbar toolbarbutton[disabled="true"],
findbar toolbarbutton[disabled="true"]:hover,
findbar toolbarbutton[disabled="true"]:active,
findbar toolbarbutton[disabled="true"]:active:hover {
  color: #d4d5db !important;
}

.findbar-closebutton {
  -moz-appearance: none !important;
  border: none !important;
  margin-left: 3px !important;
}

.findbar-closebutton:active:hover {
  opacity: 1.0 !important;
}

.findbar-closebutton.close-icon {
  list-style-image: url(./icons/findBar/close.svg) !important;
  opacity: 0.5 !important;
  padding: 0px !important
}

.findbar-closebutton.close-icon:active:hover {
  opacity: 1.0 !important;
}

.findbar-closebutton.close-icon:active:hover > .toolbarbutton-icon {
  filter: invert(100%) !important;
}

.findbar-closebutton.close-icon > .toolbarbutton-icon {
  margin-top: -3px !important;
  padding-top: 3px !important;
}

/* Search field */

.findbar-textbox {
  -moz-appearance: none !important;
  border: 1px solid rgba(133,133,133,.4) !important;
  box-shadow: none !important;
  margin: 0 !important;
  margin-right: 5px !important;
  padding: 3px !important;
  width: 20em !important;
}

.findbar-textbox:-moz-locale-dir(ltr) {
  border-radius: 3px !important;
  border-right-width: 1px !important;
}

.findbar-textbox:-moz-locale-dir(rtl) {
  border-radius:3px !important;
  border-left-width: 1px !important;
}

.findbar-textbox[focused="true"] {
  border-color: Highlight !important;
  box-shadow: none !important;
}

.findbar-textbox[status="notfound"] {
  background: #f66 !important;
  border-color: #f66 !important;
  box-shadow: inset 0 0 0 1em #f66 !important;
  color: white !important;
}

.findbar-textbox[flash="true"] {
  box-shadow: inset 0 0 0 1em yellow !important;
  color: black !important;
}

.findbar-textbox.minimal {
  border-width: 1px !important;
  border-radius: 3px !important;
}

.findbar-find-previous,
.findbar-find-next {
  line-height: 1em !important;
  margin: 0 !important;
  padding: 6px !important;
  width: 30px !important;
}

:-moz-any(.findbar-find-next, .findbar-find-previous):not(:hover):not([disabled="true"]) {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.6)) !important;
  border: 1px solid rgba(166,166,166,.4) !important;
  box-shadow: none !important;
}

:-moz-any(.findbar-find-next, .findbar-find-previous)[disabled="true"] {
  background: rgba(235,235,235,0.6) !important;
  border-color: rgba(166,166,166,.0) !important;
  box-shadow: none !important;
}

.findbar-find-previous:focus,
.findbar-find-next:focus {
  border-color: Highlight !important;
  box-shadow: 0 0 1px 0 Highlight inset !important;
}

.findbar-find-previous:not([disabled]):active,
.findbar-find-next:not([disabled]):active {
  background: rgba(23,50,76,.2) !important;
  border: 1px solid ThreeDShadow !important;
  box-shadow: 0 1px 2px rgba(10,31,51,.2) inset !important;
}

.findbar-find-previous {
  list-style-image: url(./icons/findBar/go-up.svg) !important;
  border-radius: 3px 0 0 3px !important;
  margin-inline-end: -1px !important;
}

.findbar-find-next {
  list-style-image: url(./icons/findBar/go-down.svg) !important;
  border-radius: 0 3px 3px 0 !important;
}

.findbar-find-previous > .toolbarbutton-icon,
.findbar-find-next > .toolbarbutton-icon {
  margin: 0 !important;
}

.findbar-find-previous > .toolbarbutton-text,
.findbar-find-next > .toolbarbutton-text {
  display: none !important;
}

.findbar-find-previous[disabled="true"] > .toolbarbutton-icon,
.findbar-find-next[disabled="true"] > .toolbarbutton-icon {
  opacity: .5 !important;
}

.findbar-find-next:-moz-locale-dir(ltr) {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.findbar-find-next:-moz-locale-dir(rtl) {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.findbar-find-previous:focus + .findbar-find-next {
  border-inline-start-width: 0 !important;
}

.findbar-find-previous:focus {
  border-inline-end-width: 1px !important;
}

.findbar-highlight,
.findbar-case-sensitive,
.findbar-entire-word {
  margin-inline-start: 5px !important;
}

.findbar-highlight > .toolbarbutton-text,
.findbar-case-sensitive > .toolbarbutton-text,
.findbar-entire-word  > .toolbarbutton-text{
  font-size: 10px !important;
  padding: 1px !important;
  margin: 0px !important;
}

/* FIXME: image not drawn anymore */
/*
.findbar-highlight > .toolbarbutton-text,
.findbar-case-sensitive > .toolbarbutton-text,
.findbar-entire-word  > .toolbarbutton-text{
  display: none !important;
}

.findbar-entire-word {
  list-style-image: url(./icons/findBar/find-entire-word.svg) !important;
  width: 24px !important;
  height: 24px !important;
}
.findbar-highlight {
  list-style-image: url(./icons/findBar/find-highlight.png) !important;
  width: 24px !important;
  height: 24px !important;
}
.findbar-case-sensitive {
  list-style-image: url(./icons/findBar/find-case-sensitive.svg) !important;
  width: 24px !important;
  height: 24px !important;
}
*/

.findbar-entire-word[disabled="true"] {
  opacity: 0.5 !important;
}
.findbar-highlight[disabled="true"] {
  opacity: 0.5 !important;
}
.findbar-case-sensitive[disabled="true"] {
  opacity: 0.5 !important;
}

.findbar-find-status,
.findbar-matches {
  margin: 0 !important;
  margin-inline-start: 12px !important;
}

.find-status-icon[status="pending"] {
  list-style-image: url("./icons/findBar/loading.png") !important;
}


/* show full quickfindbar.css*/
label.findbar-find-fast{
  visibility: collapse !important;
}

label.found-matches,
.findbar-find-status,
.findbar-find-previous,
.findbar-find-next,
.findbar-button {
  display: block !important;
  visibility: visible !important;
}
