@-moz-document url-prefix(chrome://browser/content/){

	/* Reduces the rounded corners from menus */
	/*.panel-arrowcontent,
	#alltabs-popup .arrowscrollbox-scrollbox,
	menupopup:not(#BMB_bookmarksPopup),
	.textbox-contextmenu {
		border-radius: 3px !important;
	}*/
	
	/* Reduce the rounded corners from dialogs */
	.dialogBox {
		border-radius: 3px !important;
	}

    /* Remove a few separators */
	#BMB_viewBookmarksSidebar,
	#BMB_bookmarksShowAllTop, #BMB_bookmarksShowAllTop + menuseparator,
	#BMB_bookmarksToolbar, #BMB_unsortedBookmarks, #BMB_mobileBookmarks, 
	#BMB_mobileBookmarks + menuseparator {
		display: none !important;
	}
	
	/* Fix bookmarks separators*/
	.PanelUI-subView menuseparator {
	    appearance: none !important;
    }

	/* Remove border from menu and panels (e.g. right click menu) */
	menupopup,
	panel {
		/*border: 1px solid ThreeDShadow;*/
		border: none !important;
	}
}
