:root {
	--toolbarbutton-border-radius: 3px !important;
	--tab-border-radius: 3px !important;
	--in-content-button-border-radius: 3px !important;
	--toolbarbutton-border-radius: 3px !important;
	--arrowpanel-border-radius: 3px !important;
}


.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"] {
  /* width: 40px; */
  width: 20px !important;
}

