@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*TOOLBAR || TABSTOOLBAR*/
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: var(--toolbar-bgimage) !important;
}

#TabsToolbar {
  -moz-appearance: none !important;
  background: var(--tabstoolbar-bgcolor) !important;
  border-top: 1px solid var(--toolbar-border-color) !important;
  border-bottom: 1px solid var(--toolbar-border-color) !important;
  margin-bottom: -1px !important;
}

toolbar#nav-bar {
  height: 42px !important;
}

toolbarseparator {
  opacity: 0.1 !important;
}

#PersonalToolbar {
  margin-top: 1px !important;
  margin-bottom: -1px !important;
}

/*Toolbar button default behaviour */
#PersonalToolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled=true]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled=true]):hover,
.findbar-button:not(:-moz-any([checked="true"],[disabled="true"])):hover > .toolbarbutton-text,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]),
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
  background: var(--toolbarbutton-hover-background) !important;
  outline: var(--arc-toolbarbutton-hover-border) !important;
  box-shadow: var(--arc-toolbarbutton-hover-boxshadow) !important;
  color: inherit !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active),
.findbar-button:not([disabled=true]):-moz-any([checked="true"],:hover:active) > .toolbarbutton-text,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"],
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-stack {
  background: var(--toolbarbutton-active-background) !important;
  outline: var(--arc-toolbarbutton-active-border) !important;
  box-shadow: var(--arc-toolbarbutton-active-boxshadow) !important;
  color: #fff !important;
  fill: var(--arc-toolbarbutton-icon-fill-hover) !important;
  fill-opacity: var(--arc-toolbarbutton-icon-fill-opacity-hover) !important;
}

.findbar-button:not(:-moz-any([checked="true"],[disabled="true"])):hover > .toolbarbutton-text,
.findbar-button:not([disabled=true]):-moz-any([checked="true"],:hover:active) > .toolbarbutton-text {
  outline: none !important;
}

/* increase width of toolbarbutton to set horizontal padding*/
toolbar .toolbarbutton-1:not(#tabs-newtab-button):not(#new-tab-button) > .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 22px) !important;
    /*height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;*/
}

toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  margin-right: 5px !important;
}

/* Unset back-button round style. Colors are set in arc-gnome css*/
:root:not([uidensity="compact"]) #back-button {
  padding: 0 var(--toolbarbutton-outer-padding) !important;
  margin-left: 5px !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 22px) !important;
  height: 28px !important;
  padding: var(--toolbarbutton-inner-padding) !important;
}

#placesToolbox #back-button > .toolbarbutton-icon {
  height: 16px !important;
}

/* Toolbar buttons */
:root:not([uidensity="compact"]) #back-button  > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon,
#home-button  > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 22px) !important;
}

#back-button > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/back.svg") !important;
}

#forward-button > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/forward.svg") !important;
}

#home-button  > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/user-home.svg") !important;
  fill: red !important;
}

#back-button:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/back-active.svg") !important;
}

#forward-button:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/forward-active.svg") !important;
}

#home-button:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/user-home-active.svg") !important;
}

/* Toolbar menu button */
#PanelUI-menu-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/menu-badged.svg") !important;
  opacity: var(--toolbarbutton-icon-fill-opacity) !important;
}

#PanelUI-menu-button.toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  list-style-image: url("./icons/toolbar/menu-badged-active.svg") !important;
}

/* Tabs On Bottom */
#titlebar {
  -moz-box-ordinal-group: 2 !important;
  /*-moz-appearance: none !important;*/
  margin-left: -3px !important;
  margin-right: -3px !important;
}

#TabsToolbar {
  -moz-box-ordinal-group: 2 !important;
}

#TabsToolbar:not([collapsed="true"]) + #nav-bar {
  box-shadow: 0 -1px 0 transparent !important;
}

/* Bookmarks Bar fix */
 #navigator-toolbox > toolbar:not(#toolbar-menubar):not(#nav-bar):not(#TabsToolbar) {
  -moz-box-ordinal-group: 102 !important;
  border-bottom: 1px solid var(--toolbar-border-color) !important;
 }

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
  padding: 3px !important;
 }

toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 6px !important;
}

/* TABS */
:root {
  --tab-min-height: 29px !important;
}

#titlebar, #tabbrowser-tabs {
  --tab-min-height: 29px !important;
}

#tabbrowser-tabs {
  padding-top: 2px !important;
}


/* increase max width*/
#tabbrowser-tabs .tabbrowser-tab:not([pinned]) {
  /*max-width: 170px !important;*/
  /*max-width: 210px !important;*/
  max-width: 350px !important;
}

#tabbrowser-tabs .tabbrowser-tab:not([pinned]):not([fadein]) {
  max-width: 0.1px !important;
}

/* Remove borders from inactive tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: 0px solid transparent !important;
   margin-top: 0 !important;
   margin-bottom: 0 !important;
   opacity: 1 !important;
}

/* fix tabs borders*/
.tabbrowser-tab {
  border: 1px solid transparent !important;
  border-bottom-width: 0px !important
}

.tabbrowser-tab:hover {
  border-color: var(--arc-tab-hover-border-color) !important;
}

.tabbrowser-tab[visuallyselected=true] {
  border-color: var(--arc-tab-selected-border-color) !important;
}

.tabbrowser-tab[visuallyselected=true] ~ .tabbrowser-tab:hover {
  border-left-color: var(--arc-tab-hover-bgcolor) !important;
}

.tabbrowser-tab:hover ~ .tabbrowser-tab[visuallyselected=true] {
  border-left-color: var(--arc-tab-hover-bgcolor) !important;
}

/* Tabs colors */
.tabbrowser-tab .tab-content {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.tabbrowser-tab:hover .tab-content {
  background: var(--arc-tab-hover-bgcolor) !important;
}

.tabbrowser-tab[visuallyselected=true] .tab-content {
  background: var(--arc-tab-selected-bgcolor) !important;
}

/* Tabs text colors */
.tabbrowser-tab:not([visuallyselected=true]) {
  color: var(--arc-tab-color) !important;
}

.tabbrowser-tab:not([visuallyselected=true]):hover {
  color: var(--arc-tab-hover-color) !important;
}

.tabbrowser-tab[visuallyselected=true] {
  color: var(--arc-tab-selected-color) !important;
}

/* Reduce tabs spacer margin */
.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: 0px solid !important;
  opacity: 0 !important;
}

.titlebar-spacer[type="pre-tabs"], 
.titlebar-spacer[type="post-tabs"] {
  display: -moz-box !important;
  width: 16px !important;
}

/* Pinned tabs*/
.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]), .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: url("./icons/tabs/titlechanged.svg") !important;
  background-repeat: no-repeat !important;
  background-size: 50% 50% !important;
  background-position: right 2px top 2px !important;
}

.tab-content[pinned] {
  padding: 0 8px !important;
}

/* fix new tab button size and colors*/
#tabs-newtab-button > .toolbarbutton-icon {
  padding-top: calc(var(--toolbarbutton-inner-padding) + 1px) !important;
}

#tabs-newtab-button,
#new-tab-button {
  margin: 1px 0px 1px 0px !important;
}

#tabs-newtab-button > .toolbarbutton-icon,
#new-tab-button > .toolbarbutton-icon {
  fill: #7f889f !important;
}

#tabs-newtab-button:-moz-any([open],:hover:active) > .toolbarbutton-icon,
#new-tab-button:-moz-any([open],:hover:active) > .toolbarbutton-icon {
  fill: #ffffff !important;
}

/* fix overflows icons size and colors */
#TabsToolbar :not(#new-tab-button).toolbarbutton-1,
.tabbrowser-arrowscrollbox > .scrollbutton-up, .tabbrowser-arrowscrollbox > .scrollbutton-down {
  margin: 1px 0px 1px 0px !important;
}

/* remove overflow shadows, style colors*/
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator, 
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator {
  opacity: 0 !important;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled=true]):hover, .tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled=true]):hover {
  background: none !important;
  fill: #ff4d4d !important;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled=true]):hover:active, .tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled=true]):hover:active {
  background: none !important;
  fill: #5294e2 !important;
}


/* Disable overflow*/
/*.tabbrowser-tab {
  min-width: initial !important;
}
.tab-content {
  overflow: hidden !important;
}*/


/* Context Navigation Menù*/
#context-navigation {
  -moz-appearance: menuitem;
  padding-top: 4px;
}

#context-navigation > .menuitem-iconic > .menu-iconic-left {
  padding-inline-end: 0 !important;
  margin-inline-end: 0 !important;
}

/* Hide context menù left icons*/
#tabContextMenu menuitem.menuitem-iconic > .menu-iconic-left,
#contentAreaContextMenu > menuitem > .menu-iconic-left {
  visibility: hidden !important;
}


/* Remove report site issue button */
#pageAction-panel-webcompat-reporter-button {
 display: none !important;
}

/* Lighten Png Bookmark Icon (popup)*/
#editBookmarkPanelStarIcon {
    opacity: 0.9 !important;
}

/* neutral color for urlbar star button starred*/
#star-button[starred] {
  fill: currentColor !important;
}

#star-button[starred] {
  fill: currentColor !important;
  fill-opacity: 0.5 !important;
}


/* folder icon from theme for bookmarks, panel, sidebar*/
.bookmark-item[container]:not([label="Recently Bookmarked"]):not([label="Most Visited"]):not([label="Mobile Bookmarks"]):not([label="Bookmarks Toolbar"]):not([label="Other Bookmarks"]),
.bookmark-item[query][hostContainer],
.bookmark-item[query][hostContainer][open],
treechildren::-moz-tree-image(title, container),
treechildren::-moz-tree-image(title, query, hostContainer) {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu") !important;
}

.bookmark-item[container][label="Bookmarks Toolbar"] {
  list-style-image: url("moz-icon://stock/user-bookmarks?size=menu") !important;
}

.bookmark-item[container][label="Other Bookmarks"] {
  list-style-image: url("moz-icon://stock/folder-system?size=menu") !important;
}

.bookmark-item[container][label="Recently Bookmarked"] {
  list-style-image: url("moz-icon://stock/folder-recent?size=menu") !important;
}

.bookmark-item[container][label="Most Visited"] {
  list-style-image: url("moz-icon://stock/folder-books?size=menu") !important;
}

.bookmark-item[container][label="Mobile Bookmarks"] {
  list-style-image: url("moz-icon://stock/folder-cloud?size=menu") !important;
}


/* close button, used for many things (tabs, sidebar, findbar)*/
.close-icon {
  color: currentColor !important;
  background-color: transparent !important;
}

.close-icon:hover {
  color: #ff4d4d !important;
}

.close-icon:active {
  color: #5294e2 !important;
}


/* Identity Box*/
#urlbar[pageproxystate=valid] > #identity-box.chromeUI,
#urlbar[pageproxystate=valid] > #identity-box.extensionPage,
#urlbar[pageproxystate=valid] > #identity-box.verifiedIdentity {
  border-image: none !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.extensionPage,
#urlbar[pageproxystate="valid"] > #identity-box.extensionPage:before,
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI,
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI:before {
  background: hsla(0,0%,78%,.15) !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.extensionPage,
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI {
  border-inline-end: 1px solid hsla(0,0%,39%,.22) !important;
}

#urlbar[pageproxystate=valid] > #identity-box.verifiedIdentity {
  --urlbar-separator-color: hsla(90,81%,45%,.15) !important;
}

#urlbar[pageproxystate=valid] > #identity-box.verifiedIdentity {
  border-inline-end: 1px solid var(--urlbar-separator-color) !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity:before {
  background: hsla(90,81%,45%,.15) !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.chromeUI > #identity-icon {
  list-style-image: url(./icons/connection-icons.svg#brand) !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon {
  fill: currentColor !important;
  opacity: 0.6;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #identity-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon {
  fill: #3f9d35 !important;
}


#identity-box {
  /*fill: currentColor !important;*/
  /*fill-opacity: 0.6 !important;*/
  opacity: 0.6 !important;
}

#identity-box:hover:not(.no-hover):not([open=true]) {
  background-color: hsla(0,0%,70%,.2) !important;
  /*fill-opacity: .8 !important*/
  opacity: .8 !important;
}

#identity-box:hover:active:not(.no-hover),
#identity-box[open=true] {
  background-color: hsla(0,0%,70%,.3) !important;
  /*fill-opacity: .8 !important*/
  opacity: .8;
}

/* url bar zoom*/
#urlbar-zoom-button {
  border-radius: 1em !important;
  background-color: hsla(0,0%,0%,.05) !important;
  border: 1px solid hsla(0,0%,0%,.04) !important;
}
/* hide url bar separator*/
#pageActionSeparator.urlbar-page-action {
  display: none !important;
}
