@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* constraint urlbar inside nav-bar */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  margin-bottom: -2px;
}

/* Rimozione margini popup autocomplete*/
.urlbarView:not(.megabar) .urlbarView-results {
  padding-inline: 0 !important;
}

.urlbarView-results {
  padding-block: 0 !important;
}

.urlbarView-row:first-child {
  padding-top: 8px !important;
}

.urlbarView-row:last-child {
  padding-bottom: 8px !important;
}

/** Color for URL bar **/
.urlbarView-url,
.urlbarView-action {
  color: gray !important;
}

.urlbarView-row[selected] .urlbarView-title-separator, 
.urlbarView-row[selected] .urlbarView-url,
.urlbarView-row[selected] .urlbarView-action {
  color: #f3f3f3 !important;
}

